openapi: 3.0.3
info:
  title: 'Laravel API Documentation'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'http://localhost'
tags:
  -
    name: Endpoints
    description: ''
paths:
  /api/image-search/1688/url:
    post:
      summary: '1688 URL 搜图'
      operationId: 1688URL
      description: '提供图片 URL 地址，在 1688 平台搜索相似商品'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  code: 200
                  data:
                    -
                      title: 2024新款现货懒人神器
                      price: '29.90'
                      image: 'https://cbu01.alicdn.com/img/ibank/xxx.jpg'
                      url: 'https://detail.1688.com/offer/12345.html'
                  message: '搜图成功，找到 20 条结果'
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: integer
                    example: 200
                  data:
                    type: array
                    example:
                      -
                        title: 2024新款现货懒人神器
                        price: '29.90'
                        image: 'https://cbu01.alicdn.com/img/ibank/xxx.jpg'
                        url: 'https://detail.1688.com/offer/12345.html'
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          example: 2024新款现货懒人神器
                        price:
                          type: string
                          example: '29.90'
                        image:
                          type: string
                          example: 'https://cbu01.alicdn.com/img/ibank/xxx.jpg'
                        url:
                          type: string
                          example: 'https://detail.1688.com/offer/12345.html'
                  message:
                    type: string
                    example: '搜图成功，找到 20 条结果'
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  code: 400
                  data: null
                  message: '请提供图片 URL'
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 400
                  data:
                    type: string
                    example: null
                  message:
                    type: string
                    example: '请提供图片 URL'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: '图片 URL 地址'
                  example: 'https://img.kwcdn.com/product/fancy/605bead6-9775-4ddf-a732-09f369e697b5.jpg'
                page:
                  type: integer
                  description: '页码，默认 1'
                  example: 1
                size:
                  type: integer
                  description: '每页数量，默认 20'
                  example: 20
              required:
                - url
      security: []
  /api/image-search/1688-cross-border/image:
    post:
      summary: 以图搜图（待实现）
      operationId: ''
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/1688-cross-border/url:
    post:
      summary: 'URL 搜图（待实现）'
      operationId: uRL
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/1688-pro/image:
    post:
      summary: ''
      operationId: postApiImageSearch1688ProImage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/1688-pro/url:
    post:
      summary: ''
      operationId: postApiImageSearch1688ProUrl
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/taobao/image:
    post:
      summary: ''
      operationId: postApiImageSearchTaobaoImage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/taobao/url:
    post:
      summary: ''
      operationId: postApiImageSearchTaobaoUrl
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/taobao-lite/image:
    post:
      summary: ''
      operationId: postApiImageSearchTaobaoLiteImage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/taobao-lite/url:
    post:
      summary: ''
      operationId: postApiImageSearchTaobaoLiteUrl
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/alibaba/image:
    post:
      summary: ''
      operationId: postApiImageSearchAlibabaImage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/alibaba/url:
    post:
      summary: ''
      operationId: postApiImageSearchAlibabaUrl
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/amazon/image:
    post:
      summary: ''
      operationId: postApiImageSearchAmazonImage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/amazon/url:
    post:
      summary: ''
      operationId: postApiImageSearchAmazonUrl
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/amazon-lite/image:
    post:
      summary: ''
      operationId: postApiImageSearchAmazonLiteImage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/amazon-lite/url:
    post:
      summary: ''
      operationId: postApiImageSearchAmazonLiteUrl
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/aliexpress/image:
    post:
      summary: ''
      operationId: postApiImageSearchAliexpressImage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/aliexpress/url:
    post:
      summary: ''
      operationId: postApiImageSearchAliexpressUrl
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/aliexpress-pro/image:
    post:
      summary: ''
      operationId: postApiImageSearchAliexpressProImage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/aliexpress-pro/url:
    post:
      summary: ''
      operationId: postApiImageSearchAliexpressProUrl
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/shein/image:
    post:
      summary: ''
      operationId: postApiImageSearchSheinImage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/shein/url:
    post:
      summary: ''
      operationId: postApiImageSearchSheinUrl
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/ozon/image:
    post:
      summary: ''
      operationId: postApiImageSearchOzonImage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/ozon/url:
    post:
      summary: ''
      operationId: postApiImageSearchOzonUrl
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/naver-shopping/image:
    post:
      summary: ''
      operationId: postApiImageSearchNaverShoppingImage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/naver-shopping/url:
    post:
      summary: ''
      operationId: postApiImageSearchNaverShoppingUrl
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/ebay/image:
    post:
      summary: ''
      operationId: postApiImageSearchEbayImage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/ebay/url:
    post:
      summary: ''
      operationId: postApiImageSearchEbayUrl
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/google-lens/image:
    post:
      summary: ''
      operationId: postApiImageSearchGoogleLensImage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/google-lens/url:
    post:
      summary: ''
      operationId: postApiImageSearchGoogleLensUrl
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/bing/image:
    post:
      summary: ''
      operationId: postApiImageSearchBingImage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/bing/url:
    post:
      summary: ''
      operationId: postApiImageSearchBingUrl
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/baidu/image:
    post:
      summary: ''
      operationId: postApiImageSearchBaiduImage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/baidu/url:
    post:
      summary: ''
      operationId: postApiImageSearchBaiduUrl
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/yandex/image:
    post:
      summary: ''
      operationId: postApiImageSearchYandexImage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/yandex/url:
    post:
      summary: ''
      operationId: postApiImageSearchYandexUrl
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/wildberries/image:
    post:
      summary: ''
      operationId: postApiImageSearchWildberriesImage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/wildberries/url:
    post:
      summary: ''
      operationId: postApiImageSearchWildberriesUrl
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/domeggook/image:
    post:
      summary: ''
      operationId: postApiImageSearchDomeggookImage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/domeggook/url:
    post:
      summary: ''
      operationId: postApiImageSearchDomeggookUrl
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/coupang/image:
    post:
      summary: ''
      operationId: postApiImageSearchCoupangImage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/coupang/url:
    post:
      summary: ''
      operationId: postApiImageSearchCoupangUrl
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/netsea/image:
    post:
      summary: ''
      operationId: postApiImageSearchNetseaImage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/netsea/url:
    post:
      summary: ''
      operationId: postApiImageSearchNetseaUrl
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/ownerclan/image:
    post:
      summary: ''
      operationId: postApiImageSearchOwnerclanImage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/ownerclan/url:
    post:
      summary: ''
      operationId: postApiImageSearchOwnerclanUrl
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/onch3/image:
    post:
      summary: ''
      operationId: postApiImageSearchOnch3Image
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/onch3/url:
    post:
      summary: ''
      operationId: postApiImageSearchOnch3Url
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/mercari/image:
    post:
      summary: ''
      operationId: postApiImageSearchMercariImage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/image-search/mercari/url:
    post:
      summary: ''
      operationId: postApiImageSearchMercariUrl
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
